In [19]:
import pandas as pd
x = pd.read_csv('/Users/huongnguyen/Downloads/age.csv')
print (x[:39])

      Age     Gender Total      F_Freq_%
0   15-20     Female     2  0.7333333333
1   15-20     Female     3             1
2   15-20     Female     1           0.4
3   15-20     Female     1  0.6666666667
4     >25     Female     1  0.4666666667
5     >25     Female     1  0.4666666667
6   15-20     Female     1  0.6666666667
7     >25     Female     1  0.2666666667
8   15-20     Female     2           0.8
9   15-20     Female     2  0.7333333333
10  15-20     Female     1  0.4666666667
11  15-20       Male     1           0.6
12  15-20       Male     1  0.4666666667
13  15-20       Male     1  0.7333333333
14  15-20       Male     3  0.6666666667
15  20-25     Female     2           0.6
16  15-20       Male     2           0.8
17  15-20     Female     1  0.6666666667
18  15-20     Female     1  0.5333333333
19  15-20     Female     1           0.6
20  15-20     Female     1  0.5333333333
21  15-20     Female     2  0.5333333333
22  15-20     Female     2  0.8666666667
23  15-20     Female     2           0.8
24  15-20  Nonbinary     1  0.7333333333
25  15-20     Female     1           0.6
26  15-20       Male     1  0.9333333333
27  20-25     Female     1           0.8
28  15-20     Female     1  0.5333333333
29  20-25     Female     3             1
30  15-20     Female     1  0.5333333333
31  20-25     Female     2           0.8
32  15-20     Female     2  0.8666666667
33  15-20     Female     2           0.8
34  15-20     Female     1  0.4666666667
35  15-20     Female     1  0.6666666667
36  20-25       Male     2           0.4
37  15-20     Female     1  0.5333333333
38  15-20     Female     0           0.2

In [22]:
import pandas as pd
x = pd.read_csv('/Users/huongnguyen/Downloads/altruism.csv')
print (x[:39])

      Age     Gender Total Freq._use F_Freq_% APS1 APS2 APS3 APS4 F_APS  \
0   15-20     Female     2         4   26.67%    4    4    5    1    14
1   15-20     Female     3         5   33.33%    5    3    1    5    14
2   15-20     Female     1         2   13.33%    1    1    2    1     5
3   15-20     Female     1         5   33.33%    1    3    1    4     9
4     >25     Female     1         5   33.33%    5    5    4    3    17
5     >25     Female     1         5   33.33%    5    5    4    3    17
6   15-20     Female     1         5   33.33%    2    2    4    3    11
7     >25     Female     1         1    6.67%    3    1    1    1     6
8   15-20     Female     2         5   33.33%    5    5    5    5    20
9   15-20     Female     2         5   33.33%    2    2    1  NaN     5
10  15-20     Female     1         4   26.67%    1    5    3    5    14
11  15-20       Male     1         4   26.67%    5    5    3    4    17
12  15-20       Male     1         5   33.33%    1    4    4    1    10
13  15-20       Male     1         5   33.33%    1    4    2    1     8
14  15-20       Male     3         5   33.33%    3    1    1    1     6
15  20-25     Female     2         5   33.33%    5    3    2    4    14
16  15-20       Male     2         5   33.33%    1    3    1    1     6
17  15-20     Female     1         5   33.33%    2    2    4    3    11
18  15-20     Female     1         5   33.33%    5    5    5    5    20
19  15-20     Female     1         5   33.33%    4    4    3    3    14
20  15-20     Female     1         5   33.33%    5    5    5    5    20
21  15-20     Female     2         4   26.67%    4    5    3    5    17
22  15-20     Female     2         5   33.33%    5    5    4    1    15
23  15-20     Female     2         5   33.33%    3    4    1    1     9
24  15-20  Nonbinary     1         5   33.33%    2    1    2    2     7
25  15-20     Female     1         5   33.33%    3    3    1    1     8
26  15-20       Male     1         5   33.33%    1    1    1    1     4
27  20-25     Female     1         5   33.33%    2    2    3    3    10
28  15-20     Female     1         5   33.33%    5    5    5    5    20
29  20-25     Female     3         5   33.33%    5    5    1    3    14
30  15-20     Female     1         4   26.67%    2    1    1    1     5
31  20-25     Female     2         5   33.33%    5    5    4    4    18
32  15-20     Female     2         5   33.33%    1    1    1    1     4
33  15-20     Female     2         5   33.33%    5    5    5    5    20
34  15-20     Female     1         5   33.33%    4    4    1    3    12
35  15-20     Female     1         5   33.33%    2    2    4    3    11
36  20-25       Male     2         2   13.33%    3    2    2    4    11
37  15-20     Female     1         5   33.33%    5    5    5    5    20
38  15-20     Female     0         1    6.67%    3    3    1    5    12

   F_APS_%       P_VALUE
0    70.00%  2.699539e-09
1    70.00%           NaN
2    25.00%           NaN
3    45.00%           NaN
4    85.00%           NaN
5    85.00%           NaN
6    55.00%           NaN
7    30.00%           NaN
8   100.00%           NaN
9    25.00%           NaN
10   70.00%           NaN
11   85.00%           NaN
12   50.00%           NaN
13   40.00%           NaN
14   30.00%           NaN
15   70.00%           NaN
16   30.00%           NaN
17   55.00%           NaN
18  100.00%           NaN
19   70.00%           NaN
20  100.00%           NaN
21   85.00%           NaN
22   75.00%           NaN
23   45.00%           NaN
24   35.00%           NaN
25   40.00%           NaN
26   20.00%           NaN
27   50.00%           NaN
28  100.00%           NaN
29   70.00%           NaN
30   25.00%           NaN
31   90.00%           NaN
32   20.00%           NaN
33  100.00%           NaN
34   60.00%           NaN
35   55.00%           NaN
36   55.00%           NaN
37  100.00%           NaN
38   60.00%           NaN

In [26]:
import pandas as pd
col_list=["Freq._use", "F_APS"]
x = pd.read_csv('/Users/huongnguyen/Downloads/altruism.csv', usecols=col_list)

y=(df["Freq._use"])
print (y[:39])

0     4
1     5
2     2
3     5
4     5
5     5
6     5
7     1
8     5
9     5
10    4
11    4
12    5
13    5
14    5
15    5
16    5
17    5
18    5
19    5
20    5
21    4
22    5
23    5
24    5
25    5
26    5
27    5
28    5
29    5
30    4
31    5
32    5
33    5
34    5
35    5
36    2
37    5
38    1
Name: Freq._use, dtype: object

In [27]:
import pandas as pd
col_list=["Freq._use", "F_APS"]
x = pd.read_csv('/Users/huongnguyen/Downloads/altruism.csv', usecols=col_list)

y=(df["Freq._use"])
print (y[:39])
z=(df["F_APS"])
print (z[:39])

0     4
1     5
2     2
3     5
4     5
5     5
6     5
7     1
8     5
9     5
10    4
11    4
12    5
13    5
14    5
15    5
16    5
17    5
18    5
19    5
20    5
21    4
22    5
23    5
24    5
25    5
26    5
27    5
28    5
29    5
30    4
31    5
32    5
33    5
34    5
35    5
36    2
37    5
38    1
Name: Freq._use, dtype: object
0     14
1     14
2      5
3      9
4     17
5     17
6     11
7      6
8     20
9      5
10    14
11    17
12    10
13     8
14     6
15    14
16     6
17    11
18    20
19    14
20    20
21    17
22    15
23     9
24     7
25     8
26     4
27    10
28    20
29    14
30     5
31    18
32     4
33    20
34    12
35    11
36    11
37    20
38    12
Name: F_APS, dtype: object

In [32]:
import pandas as pd
col_list=["Freq._use", "F_APS"]
x = pd.read_csv('/Users/huongnguyen/Downloads/altruism.csv', usecols=col_list)
scale = {'Frequent Media Usage': ["Freq._use"],
        'Altruistic Personality Scale': ["F_APS"]
        }

df = pd.DataFrame(scale, columns = ['Frequent Media Usage', 'Altruistic Personality Scale'])

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df)

  Frequent Media Usage Altruistic Personality Scale
0            Freq._use                        F_APS

In [38]:
import pandas as pd

data = pd.read_csv(r'/Users/huongnguyen/Downloads/altruism.csv')
df = pd.DataFrame(data, columns = ["Freq._use","F_APS"])
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
    print(df)

     Freq._use  F_APS
0            4     14
1            5     14
2            2      5
3            5      9
4            5     17
5            5     17
6            5     11
7            1      6
8            5     20
9            5      5
10           4     14
11           4     17
12           5     10
13           5      8
14           5      6
15           5     14
16           5      6
17           5     11
18           5     20
19           5     14
20           5     20
21           4     17
22           5     15
23           5      9
24           5      7
25           5      8
26           5      4
27           5     10
28           5     20
29           5     14
30           4      5
31           5     18
32           5      4
33           5     20
34           5     12
35           5     11
36           2     11
37           5     20
38           1     12
39           5      9
40         NaN    NaN
41         NaN    NaN
42         NaN    NaN
43         NaN    NaN
44         NaN    NaN
45         NaN    NaN
46         NaN    NaN
47         NaN    NaN
48         NaN    NaN
49         NaN    NaN
50         NaN    NaN
51         NaN    NaN
52         NaN    NaN
53         NaN    NaN
54         NaN    NaN
55         NaN    NaN
56         NaN    NaN
57         NaN    NaN
58         NaN    NaN
59         NaN    NaN
60         NaN    NaN
61         NaN    NaN
62         NaN    NaN
63         NaN    NaN
64         NaN    NaN
65         NaN    NaN
66         NaN    NaN
67         NaN    NaN
68         NaN    NaN
69         NaN    NaN
70         NaN    NaN
71         NaN    NaN
72         NaN    NaN
73         NaN    NaN
74         NaN    NaN
75         NaN    NaN
76         NaN    NaN
77         NaN    NaN
78         NaN    NaN
79         NaN    NaN
80         NaN    NaN
81         NaN    NaN
82         NaN    NaN
83         NaN    NaN
84         NaN    NaN
85         NaN    NaN
86         NaN    NaN
87         NaN    NaN
88         NaN    NaN
89         NaN    NaN
90         NaN    NaN
91         NaN    NaN
92         NaN    NaN
93         NaN    NaN
94         NaN    NaN
95         NaN    NaN
96         NaN    NaN
97         NaN    NaN
98         NaN    NaN
99         NaN    NaN
100        NaN    NaN
101        NaN    NaN
102        NaN    NaN
103        NaN    NaN
104        NaN    NaN
105        NaN    NaN
106        NaN    NaN
107        NaN    NaN
108        NaN    NaN
109        NaN    NaN
110        NaN    NaN
111        NaN    NaN
112        NaN    NaN
113        NaN    NaN
114        NaN    NaN
115        NaN    NaN
116        NaN    NaN
117        NaN    NaN
118        NaN    NaN
119        NaN    NaN
120        NaN    NaN
121        NaN    NaN
122        NaN    NaN
123        NaN    NaN
124        NaN    NaN
125        NaN    NaN
126        NaN    NaN
127        NaN    NaN
128        NaN    NaN
129        NaN    NaN
130        NaN    NaN
131        NaN    NaN
132        NaN    NaN
133        NaN    NaN
134        NaN    NaN
135        NaN    NaN
136        NaN    NaN
137        NaN    NaN
138        NaN    NaN
139        NaN    NaN
140  Freq._use  F_APS
141          4     14
142          5     14
143          2      5
144          5      9
145          5     17
146          5     17
147          5     11
148          1      6
149          5     20
150          5      5
151          4     14
152          4     17
153          5     10
154          5      8
155          5      6
156          5     14
157          5      6
158          5     11
159          5     20
160          5     14
161          5     20
162          4     17
163          5     15
164          5      9
165          5      7
166          5      8
167          5      4
168          5     10
169          5     20
170          5     14
171          4      5
172          5     18
173          5      4
174          5     20
175          5     12
176          5     11
177          2     11
178          5     20
179          1     12
180          5      9
181        NaN    NaN
182        NaN    NaN
183        NaN    NaN
184        NaN    NaN
185        NaN    NaN
186        NaN    NaN
187        NaN    NaN
188        NaN    NaN
189        NaN    NaN
190        NaN    NaN
191        NaN    NaN
192        NaN    NaN
193        NaN    NaN
194        NaN    NaN
195        NaN    NaN
196        NaN    NaN
197        NaN    NaN
198        NaN    NaN
199        NaN    NaN
200        NaN    NaN
201        NaN    NaN
202        NaN    NaN
203        NaN    NaN
204        NaN    NaN
205        NaN    NaN
206        NaN    NaN
207        NaN    NaN
208        NaN    NaN
209        NaN    NaN
210        NaN    NaN
211        NaN    NaN
212        NaN    NaN
213        NaN    NaN
214        NaN    NaN
215        NaN    NaN
216        NaN    NaN
217        NaN    NaN
218        NaN    NaN
219        NaN    NaN
220        NaN    NaN
221        NaN    NaN
222        NaN    NaN
223        NaN    NaN
224        NaN    NaN
225        NaN    NaN
226        NaN    NaN
227        NaN    NaN
228        NaN    NaN
229        NaN    NaN
230        NaN    NaN
231        NaN    NaN
232        NaN    NaN
233        NaN    NaN
234        NaN    NaN
235        NaN    NaN
236        NaN    NaN
237        NaN    NaN
238        NaN    NaN
239        NaN    NaN
240        NaN    NaN
241        NaN    NaN
242        NaN    NaN
243        NaN    NaN
244        NaN    NaN
245        NaN    NaN
246        NaN    NaN
247        NaN    NaN
248        NaN    NaN
249        NaN    NaN
250        NaN    NaN
251        NaN    NaN
252        NaN    NaN
253        NaN    NaN
254        NaN    NaN
255        NaN    NaN
256        NaN    NaN
257        NaN    NaN
258        NaN    NaN
259        NaN    NaN
260        NaN    NaN
261        NaN    NaN
262        NaN    NaN
263        NaN    NaN
264        NaN    NaN
265        NaN    NaN
266        NaN    NaN
267        NaN    NaN
268        NaN    NaN
269        NaN    NaN
270        NaN    NaN
271        NaN    NaN
272        NaN    NaN
273        NaN    NaN
274        NaN    NaN
275        NaN    NaN
276        NaN    NaN
277        NaN    NaN
278        NaN    NaN
279        NaN    NaN
280        NaN    NaN
281  Freq._use  F_APS
282          4     14
283          5     14
284          2      5
285          5      9
286          5     17
287          5     17
288          5     11
289          1      6
290          5     20
291          5      5
292          4     14
293          4     17
294          5     10
295          5      8
296          5      6
297          5     14
298          5      6
299          5     11
300          5     20
301          5     14
302          5     20
303          4     17
304          5     15
305          5      9
306          5      7
307          5      8
308          5      4
309          5     10
310          5     20
311          5     14
312          4      5
313          5     18
314          5      4
315          5     20
316          5     12
317          5     11
318          2     11
319          5     20
320          1     12
321          5      9
322        NaN    NaN
323        NaN    NaN
324        NaN    NaN
325        NaN    NaN
326        NaN    NaN
327        NaN    NaN
328        NaN    NaN
329        NaN    NaN
330        NaN    NaN
331        NaN    NaN
332        NaN    NaN
333        NaN    NaN
334        NaN    NaN
335        NaN    NaN
336        NaN    NaN
337        NaN    NaN
338        NaN    NaN
339        NaN    NaN
340        NaN    NaN
341        NaN    NaN
342        NaN    NaN
343        NaN    NaN
344        NaN    NaN
345        NaN    NaN
346        NaN    NaN
347        NaN    NaN
348        NaN    NaN
349        NaN    NaN
350        NaN    NaN
351        NaN    NaN
352        NaN    NaN
353        NaN    NaN
354        NaN    NaN
355        NaN    NaN
356        NaN    NaN
357        NaN    NaN
358        NaN    NaN
359        NaN    NaN
360        NaN    NaN
361        NaN    NaN
362        NaN    NaN
363        NaN    NaN
364        NaN    NaN
365        NaN    NaN
366        NaN    NaN
367        NaN    NaN
368        NaN    NaN
369        NaN    NaN
370        NaN    NaN
371        NaN    NaN
372        NaN    NaN
373        NaN    NaN
374        NaN    NaN
375        NaN    NaN
376        NaN    NaN
377        NaN    NaN
378        NaN    NaN
379        NaN    NaN
380        NaN    NaN
381        NaN    NaN
382        NaN    NaN
383        NaN    NaN
384        NaN    NaN
385        NaN    NaN
386        NaN    NaN
387        NaN    NaN
388        NaN    NaN
389        NaN    NaN
390        NaN    NaN
391        NaN    NaN
392        NaN    NaN
393        NaN    NaN
394        NaN    NaN
395        NaN    NaN
396        NaN    NaN
397        NaN    NaN
398        NaN    NaN
399        NaN    NaN
400        NaN    NaN
401        NaN    NaN
402        NaN    NaN
403        NaN    NaN
404        NaN    NaN
405        NaN    NaN
406        NaN    NaN
407        NaN    NaN
408        NaN    NaN
409        NaN    NaN
410        NaN    NaN
411        NaN    NaN
412        NaN    NaN
413        NaN    NaN
414        NaN    NaN
415        NaN    NaN
416        NaN    NaN
417        NaN    NaN
418        NaN    NaN
419        NaN    NaN
420        NaN    NaN
421        NaN    NaN
422  Freq._use  F_APS
423          4     14
424          5     14
425          2      5
426          5      9
427          5     17
428          5     17
429          5     11
430          1      6
431          5     20
432          5      5
433          4     14
434          4     17
435          5     10
436          5      8
437          5      6
438          5     14
439          5      6
440          5     11
441          5     20
442          5     14
443          5     20
444          4     17
445          5     15
446          5      9
447          5      7
448          5      8
449          5      4
450          5     10
451          5     20
452          5     14
453          4      5
454          5     18
455          5      4
456          5     20
457          5     12
458          5     11
459          2     11
460          5     20
461          1     12
462          5      9
463        NaN    NaN
464        NaN    NaN
465        NaN    NaN
466        NaN    NaN
467        NaN    NaN
468        NaN    NaN
469        NaN    NaN
470        NaN    NaN
471        NaN    NaN
472        NaN    NaN
473        NaN    NaN
474        NaN    NaN
475        NaN    NaN
476        NaN    NaN
477        NaN    NaN
478        NaN    NaN
479        NaN    NaN
480        NaN    NaN
481        NaN    NaN
482        NaN    NaN
483        NaN    NaN
484        NaN    NaN
485        NaN    NaN
486        NaN    NaN
487        NaN    NaN
488        NaN    NaN
489        NaN    NaN
490        NaN    NaN
491        NaN    NaN
492        NaN    NaN
493        NaN    NaN
494        NaN    NaN
495        NaN    NaN
496        NaN    NaN
497        NaN    NaN
498        NaN    NaN
499        NaN    NaN
500        NaN    NaN
501        NaN    NaN
502        NaN    NaN
503        NaN    NaN
504        NaN    NaN
505        NaN    NaN
506        NaN    NaN
507        NaN    NaN
508        NaN    NaN
509        NaN    NaN
510        NaN    NaN
511        NaN    NaN
512        NaN    NaN
513        NaN    NaN
514        NaN    NaN
515        NaN    NaN
516        NaN    NaN
517        NaN    NaN
518        NaN    NaN
519        NaN    NaN
520        NaN    NaN
521        NaN    NaN
522        NaN    NaN
523        NaN    NaN
524        NaN    NaN
525        NaN    NaN
526        NaN    NaN
527        NaN    NaN
528        NaN    NaN
529        NaN    NaN
530        NaN    NaN
531        NaN    NaN
532        NaN    NaN
533        NaN    NaN
534        NaN    NaN
535        NaN    NaN
536        NaN    NaN
537        NaN    NaN
538        NaN    NaN
539        NaN    NaN
540        NaN    NaN
541        NaN    NaN
542        NaN    NaN
543        NaN    NaN
544        NaN    NaN
545        NaN    NaN
546        NaN    NaN
547        NaN    NaN
548        NaN    NaN
549        NaN    NaN
550        NaN    NaN
551        NaN    NaN
552        NaN    NaN
553        NaN    NaN
554        NaN    NaN
555        NaN    NaN
556        NaN    NaN
557        NaN    NaN
558        NaN    NaN
559        NaN    NaN
560        NaN    NaN
561        NaN    NaN
562        NaN    NaN
563  Freq._use  F_APS
564          4     14
565          5     14
566          2      5
567          5      9
568          5     17
569          5     17
570          5     11
571          1      6
572          5     20
573          5      5
574          4     14
575          4     17
576          5     10
577          5      8
578          5      6
579          5     14
580          5      6
581          5     11
582          5     20
583          5     14
584          5     20
585          4     17
586          5     15
587          5      9
588          5      7
589          5      8
590          5      4
591          5     10
592          5     20
593          5     14
594          4      5
595          5     18
596          5      4
597          5     20
598          5     12
599          5     11
600          2     11
601          5     20
602          1     12
603          5      9
604        NaN    NaN
605        NaN    NaN
606        NaN    NaN
607        NaN    NaN
608        NaN    NaN
609        NaN    NaN
610        NaN    NaN
611        NaN    NaN
612        NaN    NaN
613        NaN    NaN
614        NaN    NaN
615        NaN    NaN
616        NaN    NaN
617        NaN    NaN
618        NaN    NaN
619        NaN    NaN
620        NaN    NaN
621        NaN    NaN
622        NaN    NaN
623        NaN    NaN
624        NaN    NaN
625        NaN    NaN
626        NaN    NaN
627        NaN    NaN
628        NaN    NaN
629        NaN    NaN
630        NaN    NaN
631        NaN    NaN
632        NaN    NaN
633        NaN    NaN
634        NaN    NaN
635        NaN    NaN
636        NaN    NaN
637        NaN    NaN
638        NaN    NaN
639        NaN    NaN
640        NaN    NaN
641        NaN    NaN
642        NaN    NaN
643        NaN    NaN
644        NaN    NaN
645        NaN    NaN
646        NaN    NaN
647        NaN    NaN
648        NaN    NaN
649        NaN    NaN
650        NaN    NaN
651        NaN    NaN
652        NaN    NaN
653        NaN    NaN
654        NaN    NaN
655        NaN    NaN
656        NaN    NaN
657        NaN    NaN
658        NaN    NaN
659        NaN    NaN
660        NaN    NaN
661        NaN    NaN
662        NaN    NaN
663        NaN    NaN
664        NaN    NaN
665        NaN    NaN
666        NaN    NaN
667        NaN    NaN
668        NaN    NaN
669        NaN    NaN
670        NaN    NaN
671        NaN    NaN
672        NaN    NaN
673        NaN    NaN
674        NaN    NaN
675        NaN    NaN
676        NaN    NaN
677        NaN    NaN
678        NaN    NaN
679        NaN    NaN
680        NaN    NaN
681        NaN    NaN
682        NaN    NaN
683        NaN    NaN
684        NaN    NaN
685        NaN    NaN
686        NaN    NaN
687        NaN    NaN
688        NaN    NaN
689        NaN    NaN
690        NaN    NaN
691        NaN    NaN
692        NaN    NaN
693        NaN    NaN
694        NaN    NaN
695        NaN    NaN
696        NaN    NaN
697        NaN    NaN
698        NaN    NaN
699        NaN    NaN
700        NaN    NaN
701        NaN    NaN
702        NaN    NaN
703        NaN    NaN
704  Freq._use  F_APS
705          4     14
706          5     14
707          2      5
708          5      9
709          5     17
710          5     17
711          5     11
712          1      6
713          5     20
714          5      5
715          4     14
716          4     17
717          5     10
718          5      8
719          5      6
720          5     14
721          5      6
722          5     11
723          5     20
724          5     14
725          5     20
726          4     17
727          5     15
728          5      9
729          5      7
730          5      8
731          5      4
732          5     10
733          5     20
734          5     14
735          4      5
736          5     18
737          5      4
738          5     20
739          5     12
740          5     11
741          2     11
742          5     20
743          1     12
744          5      9
745        NaN    NaN
746        NaN    NaN
747        NaN    NaN
748        NaN    NaN
749        NaN    NaN
750        NaN    NaN
751        NaN    NaN
752        NaN    NaN
753        NaN    NaN
754        NaN    NaN
755        NaN    NaN
756        NaN    NaN
757        NaN    NaN
758        NaN    NaN
759        NaN    NaN
760        NaN    NaN
761        NaN    NaN
762        NaN    NaN
763        NaN    NaN
764        NaN    NaN
765        NaN    NaN
766        NaN    NaN
767        NaN    NaN
768        NaN    NaN
769        NaN    NaN
770        NaN    NaN
771        NaN    NaN
772        NaN    NaN
773        NaN    NaN
774        NaN    NaN
775        NaN    NaN
776        NaN    NaN
777        NaN    NaN
778        NaN    NaN
779        NaN    NaN
780        NaN    NaN
781        NaN    NaN
782        NaN    NaN
783        NaN    NaN
784        NaN    NaN
785        NaN    NaN
786        NaN    NaN
787        NaN    NaN
788        NaN    NaN
789        NaN    NaN
790        NaN    NaN
791        NaN    NaN
792        NaN    NaN
793        NaN    NaN
794        NaN    NaN
795        NaN    NaN
796        NaN    NaN
797        NaN    NaN
798        NaN    NaN
799        NaN    NaN
800        NaN    NaN
801        NaN    NaN
802        NaN    NaN
803        NaN    NaN
804        NaN    NaN
805        NaN    NaN
806        NaN    NaN
807        NaN    NaN
808        NaN    NaN
809        NaN    NaN
810        NaN    NaN
811        NaN    NaN
812        NaN    NaN
813        NaN    NaN
814        NaN    NaN
815        NaN    NaN
816        NaN    NaN
817        NaN    NaN
818        NaN    NaN
819        NaN    NaN
820        NaN    NaN
821        NaN    NaN
822        NaN    NaN
823        NaN    NaN
824        NaN    NaN
825        NaN    NaN
826        NaN    NaN
827        NaN    NaN
828        NaN    NaN
829        NaN    NaN
830        NaN    NaN
831        NaN    NaN
832        NaN    NaN
833        NaN    NaN
834        NaN    NaN
835        NaN    NaN
836        NaN    NaN
837        NaN    NaN
838        NaN    NaN
839        NaN    NaN
840        NaN    NaN
841        NaN    NaN
842        NaN    NaN
843        NaN    NaN
844        NaN    NaN
845  Freq._use  F_APS
846          4     14
847          5     14
848          2      5
849          5      9
850          5     17
851          5     17
852          5     11
853          1      6
854          5     20
855          5      5
856          4     14
857          4     17
858          5     10
859          5      8
860          5      6
861          5     14
862          5      6
863          5     11
864          5     20
865          5     14
866          5     20
867          4     17
868          5     15
869          5      9
870          5      7
871          5      8
872          5      4
873          5     10
874          5     20
875          5     14
876          4      5
877          5     18
878          5      4
879          5     20
880          5     12
881          5     11
882          2     11
883          5     20
884          1     12
885          5      9

In [43]:

# include libraries

from sklearn.datasets import load_iris
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv(r'/Users/huongnguyen/Downloads/altruism.csv')

for key in data:
    print(key)

Age
Gender
Total
Freq._use
F_Freq_%
APS1
APS2
APS3
APS4
F_APS
F_APS_%
P_VALUE

In [47]:

data_array = data['Age']
gender = data['Gender']
media = data['Total']
freq = data['Freq._use']
aptitude = data['F_APS']


print(data_array[:39])
print (gender[:39])

print(media[:39])
print(freq[:39])
print(aptitude[:39])

0     15-20
1     15-20
2     15-20
3     15-20
4       >25
5       >25
6     15-20
7       >25
8     15-20
9     15-20
10    15-20
11    15-20
12    15-20
13    15-20
14    15-20
15    20-25
16    15-20
17    15-20
18    15-20
19    15-20
20    15-20
21    15-20
22    15-20
23    15-20
24    15-20
25    15-20
26    15-20
27    20-25
28    15-20
29    20-25
30    15-20
31    20-25
32    15-20
33    15-20
34    15-20
35    15-20
36    20-25
37    15-20
38    15-20
Name: Age, dtype: object
0        Female
1        Female
2        Female
3        Female
4        Female
5        Female
6        Female
7        Female
8        Female
9        Female
10       Female
11         Male
12         Male
13         Male
14         Male
15       Female
16         Male
17       Female
18       Female
19       Female
20       Female
21       Female
22       Female
23       Female
24    Nonbinary
25       Female
26         Male
27       Female
28       Female
29       Female
30       Female
31       Female
32       Female
33       Female
34       Female
35       Female
36         Male
37       Female
38       Female
Name: Gender, dtype: object
0     2
1     3
2     1
3     1
4     1
5     1
6     1
7     1
8     2
9     2
10    1
11    1
12    1
13    1
14    3
15    2
16    2
17    1
18    1
19    1
20    1
21    2
22    2
23    2
24    1
25    1
26    1
27    1
28    1
29    3
30    1
31    2
32    2
33    2
34    1
35    1
36    2
37    1
38    0
Name: Total, dtype: object
0     4
1     5
2     2
3     5
4     5
5     5
6     5
7     1
8     5
9     5
10    4
11    4
12    5
13    5
14    5
15    5
16    5
17    5
18    5
19    5
20    5
21    4
22    5
23    5
24    5
25    5
26    5
27    5
28    5
29    5
30    4
31    5
32    5
33    5
34    5
35    5
36    2
37    5
38    1
Name: Freq._use, dtype: object
0     14
1     14
2      5
3      9
4     17
5     17
6     11
7      6
8     20
9      5
10    14
11    17
12    10
13     8
14     6
15    14
16     6
17    11
18    20
19    14
20    20
21    17
22    15
23     9
24     7
25     8
26     4
27    10
28    20
29    14
30     5
31    18
32     4
33    20
34    12
35    11
36    11
37    20
38    12
Name: F_APS, dtype: object

In [54]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        40 non-null     object
 1   Gender     40 non-null     object
 2   Total      286 non-null    object
 3   Freq._use  286 non-null    object
 4   F_Freq_%   286 non-null    object
 5   APS1       286 non-null    object
 6   APS2       286 non-null    object
 7   APS3       286 non-null    object
 8   APS4       280 non-null    object
 9   F_APS      286 non-null    object
 10  F_APS_%   286 non-null    object
 11  P_VALUE    1 non-null      float64
dtypes: float64(1), object(11)
memory usage: 83.2+ KB

In [55]:

data.head()

,Age,Gender,Total,Freq._use,F_Freq_%,APS1,APS2,APS3,APS4,F_APS,F_APS_%,P_VALUE
0,15-20,Female,2,4,26.67%,4,4,5,1,14,70.00%,2.699539e-09
1,15-20,Female,3,5,33.33%,5,3,1,5,14,70.00%,NaN
2,15-20,Female,1,2,13.33%,1,1,2,1,5,25.00%,NaN
3,15-20,Female,1,5,33.33%,1,3,1,4,9,45.00%,NaN
4,>25,Female,1,5,33.33%,5,5,4,3,17,85.00%,NaN

In [61]:
# importing pandas as pd 
import pandas as pd 
  
# Making data frame from the csv file 
df = pd.read_csv(r'/Users/huongnguyen/Downloads/altruism.csv') 
df[:39]

,Age,Gender,Total,Freq._use,F_Freq_%,APS1,APS2,APS3,APS4,F_APS,F_APS_%,P_VALUE
0,15-20,Female,2,4,26.67%,4,4,5,1,14,70.00%,2.699539e-09
1,15-20,Female,3,5,33.33%,5,3,1,5,14,70.00%,NaN
2,15-20,Female,1,2,13.33%,1,1,2,1,5,25.00%,NaN
3,15-20,Female,1,5,33.33%,1,3,1,4,9,45.00%,NaN
4,>25,Female,1,5,33.33%,5,5,4,3,17,85.00%,NaN
5,>25,Female,1,5,33.33%,5,5,4,3,17,85.00%,NaN
6,15-20,Female,1,5,33.33%,2,2,4,3,11,55.00%,NaN
7,>25,Female,1,1,6.67%,3,1,1,1,6,30.00%,NaN
8,15-20,Female,2,5,33.33%,5,5,5,5,20,100.00%,NaN
9,15-20,Female,2,5,33.33%,2,2,1,NaN,5,25.00%,NaN
10,15-20,Female,1,4,26.67%,1,5,3,5,14,70.00%,NaN
11,15-20,Male,1,4,26.67%,5,5,3,4,17,85.00%,NaN
12,15-20,Male,1,5,33.33%,1,4,4,1,10,50.00%,NaN
13,15-20,Male,1,5,33.33%,1,4,2,1,8,40.00%,NaN
14,15-20,Male,3,5,33.33%,3,1,1,1,6,30.00%,NaN
15,20-25,Female,2,5,33.33%,5,3,2,4,14,70.00%,NaN
16,15-20,Male,2,5,33.33%,1,3,1,1,6,30.00%,NaN
17,15-20,Female,1,5,33.33%,2,2,4,3,11,55.00%,NaN
18,15-20,Female,1,5,33.33%,5,5,5,5,20,100.00%,NaN
19,15-20,Female,1,5,33.33%,4,4,3,3,14,70.00%,NaN
20,15-20,Female,1,5,33.33%,5,5,5,5,20,100.00%,NaN
21,15-20,Female,2,4,26.67%,4,5,3,5,17,85.00%,NaN
22,15-20,Female,2,5,33.33%,5,5,4,1,15,75.00%,NaN
23,15-20,Female,2,5,33.33%,3,4,1,1,9,45.00%,NaN
24,15-20,Nonbinary,1,5,33.33%,2,1,2,2,7,35.00%,NaN
25,15-20,Female,1,5,33.33%,3,3,1,1,8,40.00%,NaN
26,15-20,Male,1,5,33.33%,1,1,1,1,4,20.00%,NaN
27,20-25,Female,1,5,33.33%,2,2,3,3,10,50.00%,NaN
28,15-20,Female,1,5,33.33%,5,5,5,5,20,100.00%,NaN
29,20-25,Female,3,5,33.33%,5,5,1,3,14,70.00%,NaN
30,15-20,Female,1,4,26.67%,2,1,1,1,5,25.00%,NaN
31,20-25,Female,2,5,33.33%,5,5,4,4,18,90.00%,NaN
32,15-20,Female,2,5,33.33%,1,1,1,1,4,20.00%,NaN
33,15-20,Female,2,5,33.33%,5,5,5,5,20,100.00%,NaN
34,15-20,Female,1,5,33.33%,4,4,1,3,12,60.00%,NaN
35,15-20,Female,1,5,33.33%,2,2,4,3,11,55.00%,NaN
36,20-25,Male,2,2,13.33%,3,2,2,4,11,55.00%,NaN
37,15-20,Female,1,5,33.33%,5,5,5,5,20,100.00%,NaN
38,15-20,Female,0,1,6.67%,3,3,1,5,12,60.00%,NaN

In [78]:
df = pd.read_csv(r'/Users/huongnguyen/Downloads/altruism.csv')
ax1 = df.plot.scatter(x=df['Freq._use'])

TypeError: scatter() missing 1 required positional argument: 'y'

In [88]:
import pandas as pd
import matplotlib.pyplot as plt

dataframe = pd.read_csv(r"/Users/huongnguyen/Downloads/use.csv")
print(dataframe)
plt.show()

    Freq._use  F_APS
0        4.00  14.00
1        5.00  14.00
2        2.00   5.00
3        5.00   9.00
4        5.00  17.00
..        ...    ...
881      5.00  11.00
882      2.00  11.00
883      5.00  20.00
884      1.00  12.00
885      5.00   9.00

[886 rows x 2 columns]

In [100]:
import pandas as pd
import matplotlib.pyplot as plt

dataframe = pd.read_csv(r"/Users/huongnguyen/Downloads/use.csv")
print(dataframe)

dataframe.corr()

    Freq._use  F_APS
0        4.00  14.00
1        5.00  14.00
2        2.00   5.00
3        5.00   9.00
4        5.00  17.00
..        ...    ...
881      5.00  11.00
882      2.00  11.00
883      5.00  20.00
884      1.00  12.00
885      5.00   9.00

[886 rows x 2 columns]

Empty DataFrame
Columns: []
Index: []

In [96]:
dataframe.describe()

       Freq._use  F_APS
count        286    286
unique         5     15
top         5.00  14.00
freq         217     42